<mat-sidenav-container class="main-container" autosize="true">
    <mat-sidenav #sidenav mode="side" opened style="min-width: 200px;">
        <h2 style="margin: 15px 0 0 15px;">Breed</h2>
        <h3 style="margin: 0 0 0 15px;">{{breed}}</h3>
    </mat-sidenav>
    <mat-sidenav-content style="padding: 30px;">
      <div style="height: 88vh;">
        <mat-spinner *ngIf="dogPictures.length === 0"></mat-spinner>

        <mat-card class="home-card">
            <mat-card-content>
                <mat-grid-list cols="3" rowHeight="2:1" style="margin:10px;">
                    <mat-grid-tile *ngFor="let dogPicture of dogPictures" [colspan] = "1" [rowspan] = "1">
                        <img style="height:90%; width: 90%;" src="{{ dogPicture }}"/>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-content>
        </mat-card>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
